fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch, stable]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/Takishima/cmake-pre-commit-hooks
    rev: v1.9.6
    hooks:
      - id: clang-format
        args: [--style=file]
      - id: clang-tidy
        args: [-B.,--checks=readability-magic-numbers,--warnings-as-errors=*]
      - id: include-what-you-use
        args: [-B.]
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: cppcheck
      - id: cpplint
        args:
        - --filter=-whitespace/blank_line,-whitespace/braces,-whitespace/comma,-whitespace/comments,-whitespace/empty_conditional_body,-whitespace/empty_if_body,-whitespace/empty_loop_body,-whitespace/end_of_line,-whitespace/ending_newline,-whitespace/forcolon,-whitespace/indent,-whitespace/indent_namespace,-whitespace/line_length,-whitespace/newline,-whitespace/operators,-whitespace/parens,-whitespace/semicolon,-whitespace/tab,-whitespace/todo, -build/include_subdir,-legal/copyright
